.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pokemon-search {
  width: 95%;
  max-width: 600px;
  background: #fff;
  border-radius: 999px;

  display: flex;
  align-items: center;
  padding: 10px 18px;

  box-shadow: 
      0 1px 3px rgba(0,0,0,0.1),
      0 4px 16px rgba(0,0,0,0.08);

  transition: box-shadow 0.2s ease;
  border: 1px solid #ddd;
}

.pokemon-search:hover {
  box-shadow: 
      0 1px 6px rgba(0,0,0,0.15),
      0 4px 20px rgba(0,0,0,0.12);
}

.search-icon {
  color: #777;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.pokemon-input {
  flex: 1;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;

  padding: 6px 0;
}

.pokemon-input::placeholder {
  color: #777;
}

.pokemon-input:focus {
  outline: none;
}

@media (max-width: 600px) {
    .pokemon-search {
        width: 70%;
    }
}