<div
    id="card"
    #cardElement
    class="card"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave()"
    (click)="toggleFlip()"
>

    <div class="flip-wrapper" [class.flipped]="isFlipped">

        <div class="card-face card-front">
            <div class="card-inner">

                <div class="skeleton" *ngIf="loading"></div>

                <img
                    class="pokemon-image"
                    *ngIf="pokemonCard"
                    [src]="displayImage"
                    (load)="onImageLoad()"
                    (error)="onImageError()"
                    [class.hidden]="loading || !imageLoaded"
                />
                <div class="rainbow-shine"></div>
                <div class="card__glare"></div>
            </div>
        </div>

        <div class="card-face card-back">
            <img
                class="pokemon-back"
                src="assets/images/tcg-card-back.jpg"
                alt="back"
            />
            <div class="card__glare"></div>
        </div>
    </div>

    <div class="error" *ngIf="error">
        <p>{{ error }}</p>
    </div>
</div>
