.login {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}