.archive-container {
    padding: 20px;
    max-width: 1400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.loader {
    margin-top: 20px;
    text-align: center;
    font-size: 1.1rem;
    opacity: 0.7;
}
