@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --white: #ffffff;
}

body {
    width: 100%;

    display: block;
    font-family: "Quicksand", system-ui, sans-serif;
}

