<div class="about">
    <div class="about-container">
        <h1 class="about-title">About PokéArchive</h1>

        <p class="about-description">
            PokéArchive is a website that lets users browse Pokémon TCG cards and save their favorites for quick access.
            The site uses the TCGdex API (<a href="https://tcgdex.dev/">https://tcgdex.dev</a>
            ) to display official card data and images.
        </p>

        <div class="about-section">
            <div class="title">
                <lucide-icon
                    [img]="User"
                    [size]="24"
                    strokeWidth="2.5"
                ></lucide-icon>
                <h2>Developer</h2>
            </div>
    
            <p class="about-description">
                The project is developed by <strong>Goschad</strong> as a first Angular project, created to learn how to work with APIs, build components, and design a clean modern interface.
            </p>
        </div>

        <div class="about-section">
            <div class="title">
                <lucide-icon
                    [img]="Link"
                    [size]="24"
                    strokeWidth="2.5"
                ></lucide-icon>
                <h2>Link</h2>
            </div>
            <div class="tech-icons">
                <a href="https://github.com/Goschad/PokeArchive" class="tech-item">
                    <img src="assets/icons/pokeball.svg" alt="PokéArchive">
                    <span>PokéArchive</span>
                </a>

                <a href="https://github.com/Goschad" class="tech-item">
                    <img src="assets/icons/github_light.svg" alt="Github account: Goschad">
                    <span>Goschad</span>
                </a>
            </div>
        </div>

        <div class="about-section">
            <div class="title">
                <lucide-icon
                    [img]="Layers"
                    [size]="24"
                    strokeWidth="2.5"
                ></lucide-icon>
                <h2>Stack</h2>
            </div>
            <div class="tech-icons">
                <a href="https://angular.io/docs" target="_blank" class="tech-item">
                    <img src="assets/icons/angular.svg" alt="Angular">
                    <span>Angular</span>
                </a>

                <a href="https://nodejs.org" target="_blank" class="tech-item">
                    <img src="assets/icons/nodejs.svg" alt="Nodejs">
                    <span>Node.js <small>(planned, not used yet)</small></span>
                </a>

                <a href="https://www.typescriptlang.org/docs/" target="_blank" class="tech-item">
                    <img src="assets/icons/typescript.svg" alt="TypeScript">
                    <span>TypeScript</span>
                </a>

                <a href="https://developer.mozilla.org/docs/Web/HTML" target="_blank" class="tech-item">
                    <img src="assets/icons/html5.svg" alt="HTML5">
                    <span>HTML</span>
                </a>

                <a href="https://developer.mozilla.org/docs/Web/CSS" target="_blank" class="tech-item">
                    <img src="assets/icons/css.svg" alt="CSS3">
                    <span>CSS</span>
                </a>
            </div>
        </div>
    </div>
</div>